body {
    margin: 0px;
}

#navbar {
    display: flex;
    height: 5em;
    background-color: #C7A685;
}

#content_en_sidebars {
    display: flex;
    flex-direction: row;
}

#sidebar_links {
    display: flex;
    flex-wrap: nowrap;
    width: 15%;
    height: 700px;
    background-color: lightgreen;
}

#content {
    display: flex;
    width: 70%;
    background-color: antiquewhite;
}

#sidebar_rechts {
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    width: 15%;
    background-color: lightgreen;
}

#footer {
    display: flex;
    height: 5em;
    background-color: #C7A685;
}

#mannenbanner{
    display: flex;
    justify-content:baseline;
    max-height: 500px;
}